@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
  font-family: 'SpecialElite-Regular';
  src: url('../public/font/SpecialElite-Regular.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Eina01';
  src: url('../public/font/Eina01-Bold.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}