@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
  font-family: 'SpaceTransit';
  src: url('../public/font/SpaceTransit.woff2') format('woff2'),
       url('../public/font/SpaceTransit.woff') format('woff'),
       url('../public/font/SpaceTransit.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}